# Lưu ý đổi tên file .env.example thành .env
REACT_APP_API_URL = # Link backend sau khi render
REACT_APP_FRONTEND_URL = # Link frontend sau khi render
BASE_URL = # Link backend sau khi render
FRONTEND_URL = # Link frontend sau khi renders